@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {

    .playBackProgress::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        @apply bg-slate-600;
        cursor: pointer;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 1px solid #FFF;
        margin-top: -0.4rem;
        height: 0.8rem;
        width: 0.5rem;
    }
    .volumeControl::-webkit-slider-thumb  {
      -webkit-appearance: none;
      appearance: none;
      @apply bg-slate-600;
      cursor: pointer;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border: 1px solid #FFF;
      margin-top: -0.4rem;
      height: 0.8rem;
      width: 0.5rem;
    }
  }

}
