@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :focus-visible {
    @apply focus:outline-none focus:ring-[4px] focus:ring-rose-300
  }

  .trackStyles {
    @apply h-1 w-full cursor-pointer bg-rose-200 outline-none relative
  }

  .progressBar {
    --seek-before-width: 0;
    @apply h-1 w-full cursor-pointer appearance-none bg-rose-200 outline-none relative
  }

  .progressBar::-moz-focus-outer {
    @apply border-none
  }

  /* progress bar - safari */
  .progressBar::-webkit-slider-runnable-track {
    @apply trackStyles
  }

  /* progress bar - firefox */
  .progressBar::-moz-range-track {
    @apply trackStyles
  }

  /* progress bar - chrome and safari */
  .progressBar::before {
    content: '';
    width: var(--seek-before-width);
    @apply absolute h-1 bg-indigo-600 top-0 left-0 z-[2] cursor-pointer
  }

  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    @apply bg-indigo-600 h-1
  }

  /* Knob - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    @apply appearance-none bg-slate-600 cursor-pointer rounded-t-3xl -mt-[0.5rem] h-[0.8rem] w-[0.5rem] border-[1px] border-solid border-white relative z-[3] 
  }

    /* Knob - firefox */
  .progressBar::-moz-range-thumb {
    @apply appearance-none bg-slate-600 cursor-pointer rounded-t-3xl -mt-[0.5rem] h-[0.8rem] w-[0.5rem] border-[1px] border-solid border-white relative z-[3] 
  }

  /* Knob while dragging - chrome and safari */
  .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }

    /* Knob while dragging - firefox */
  .progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
  }
  
  .volumeControl {
    --seek-before-width-volume: 40%;
    @apply h-1 cursor-pointer appearance-none bg-gray-400 rounded-full outline-none relative
  }

  .volumeControl::-moz-focus-outer {
    @apply border-none
  }

  /* progress bar - safari */
  .volumeControl::-webkit-slider-runnable-track {
    @apply trackStyles bg-gray-400 rounded-full
  }

  /* progress bar - firefox */
  .volumeControl::-moz-range-track {
    @apply trackStyles bg-gray-400 rounded-full
  }

  /* progress bar - chrome and safari */
  .volumeControl::before {
    content: '';
    width: var(--seek-before-width-volume);
    @apply absolute h-1 bg-indigo-600 top-0 left-0 z-[2] cursor-pointer rounded-full
  }

  /* progress bar - firefox */
  .volumeControl::-moz-range-progress {
    @apply bg-indigo-600 h-1 rounded-3xl
  }

  /* Knob - chrome and safari */
  .volumeControl::-webkit-slider-thumb {
    @apply appearance-none bg-slate-600 cursor-pointer rounded-full h-4 w-4 border-[1px] border-solid border-white relative z-[3]; 
    margin-top: -0.37rem
  }

    /* Knob - firefox */
  .volumeControl::-moz-range-thumb {
    @apply appearance-none bg-slate-600 cursor-pointer rounded-full h-4 w-4 border-[1px] border-solid border-white relative z-[3];
    margin-top: -0.37rem   
  }

  /* ReachUI MenuButton */
  [data-reach-menu-items] {
    @apply bg-gray-100 drop-shadow-md rounded-md border divide-y p-0
  }
  [data-reach-menu-item] {
    @apply px-3 py-1 hover:bg-indigo-600
  }
}
